<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update developer</title>
</head>
<body>
<form th:action="@{/developers/{id}(id=${developer.id})}" th:method="POST" th:object="${developer}">
    <label for="firstName">First name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"><br>
    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName"><br>
    <input type="submit" value="Update">
</form>
<br>
<!--<form th:action="@{/developers/{id}(id=${developer.id})}" th:method="DELETE">-->
<!--    <input type="submit" value="Delete">-->
<!--</form>-->
</body>
</html>